<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UserTap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02A448B21DCD4413003DC0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02A448C61DCD4413003DC0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02A448D11DCD4413003DC0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
